/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/7d1b300e1f0330436dce60fdeb9951da?family=Stolzl+Medium);
@font-face {
  font-family: "Stolzl Medium";
  src: url("//db.onlinewebfonts.com/t/7d1b300e1f0330436dce60fdeb9951da.eot");
  src: url("//db.onlinewebfonts.com/t/7d1b300e1f0330436dce60fdeb9951da.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7d1b300e1f0330436dce60fdeb9951da.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/7d1b300e1f0330436dce60fdeb9951da.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/7d1b300e1f0330436dce60fdeb9951da.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/7d1b300e1f0330436dce60fdeb9951da.svg#Stolzl Medium")
      format("svg");
}
@font-face {
  font-family: "ReportW00-SemiBold";
  src: url("//db.onlinewebfonts.com/t/b95a2b8628a725c929ed446aafe46359.eot");
  src: url("//db.onlinewebfonts.com/t/b95a2b8628a725c929ed446aafe46359.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b95a2b8628a725c929ed446aafe46359.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/b95a2b8628a725c929ed446aafe46359.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/b95a2b8628a725c929ed446aafe46359.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/b95a2b8628a725c929ed446aafe46359.svg#ReportW00-SemiBold")
      format("svg");
}
@font-face {
  font-family: Gilroy;
  src: url("assets/Gilroy-Light.otf");
}
@font-face {
  font-family: Gilroy-Bold;
  src: url("assets/Gilroy-ExtraBold.otf");
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Gilroy-Bold", sans-serif;
}
