<h4>reusable works!</h4>
<p><input type="checkbox" id="reusable" [checked]="checkBoxState"  (change)="checkBoxChange()" />
    checkBoxState Reusable: {{checkBoxState}}<p>
<!-- <input type="text" name="" id="" [(ngModel)]="salam" >
<p>{{salam}}</p> -->

